*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #374151;
    max-width: 1080px;
}

header{
   margin: 0 auto;
   padding: 71px 0 69px;
}


p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}

nav a{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-decoration: none;
}


li{
    list-style-type: none;
}

input{
    background-color: #1F293799;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    border-radius: 100px;
    height: 40px;
    padding: 10px 0 10px 50px;
}

h1{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
}

footer{
    line-height: 28px;
    text-align: center;
}


.text a{
    color: #FFFFFF;
}

.logo{
    width: 35px;
    height: 35px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 35px;
    border-radius: 3px;
    background: #4B5563;
    box-shadow: 0 15px 30px rgb(0, 0, 0, 0.15);
}



.myBlog{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
}

.dateTime{
    font-size: 14px;
    line-height: 16.41px;
}


.name{
    font-size: 16px;
    line-height: 28px;
}

.works{
font-size: 14px;
line-height: 28px;
}

.img{
    width: 896px;
    height: 594px;
}

.heroText{
    font-size: 20px;
    line-height: 32px;

}

.text{
    line-height: 30px;

}

.sectionTextbottom{
    margin-bottom: 100px;
    width: 708px;
}

.sectionLogo{
display: flex;
text-decoration: none;
color: #FFFFFF;
font-size: 18px;
font-weight: 400;
line-height: 100%;
}


.navigation ul{
    display: flex;
    gap: 52px;
}


.sectionNavigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 77px;
}

.sectionName{
    display: flex;
    gap: 16px;
}

