*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #374151;
}

header{
   margin: 0 auto;
   padding: 70px 180px 0;
   max-width: 1440px;
 margin: 0 0 80px 0;
   
}


p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}

nav a{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-decoration: none;
}


li{
    list-style-type: none;
}

input{
    background-color: #1F293799;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    border-radius: 100px;
    height: 40px;
    padding: 10px 0 10px 50px;
}

h1{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    margin: 0 0 30px 0;
}

footer{
    text-align: center;
    color: #FFFFFF;
   max-width: 1440px;
   padding: 0 0 77px 0;
}

main{
    padding: 0 272px;
}


.text a{
    color: #FFFFFF;
}

.logo{
    width: 35px;
    height: 35px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 35px;
    border-radius: 3px;
    background: #4B5563;
    box-shadow: 0 15px 30px rgb(0, 0, 0, 0.15);
    margin: 0 8px 0 0;
}

.myblogLogo{
    margin: 0 25px 0 0;
}



.myBlog{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
}

.dateTime{
    font-size: 14px;
    line-height: 16.41px;
    text-align: center;
    margin: 0 0 14px 0;
}


.name{
    font-size: 16px;
    line-height: 28px;
}

.works{
font-size: 14px;
line-height: 28px;
}

.img{
    width: 896px;
    height: 594px;
    margin: 0 0 70px 0;
}

.heroText{
    font-size: 20px;
    line-height: 32px;

}

.text{
    line-height: 30px;

}

.sectionTextbottom p{
    max-width: 700px;
    margin: 0 0 20px 0;
}

.sectionTextbottom{
    margin: 0 0 100px 0;
}

.sectionLogo{
text-decoration: none;
color: #FFFFFF;
font-size: 18px;
font-weight: 400;
line-height: 100%;
}


.navigation ul{
    display: flex;
    gap: 52px;
}


.sectionNavigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 346px;

}

.sectionName{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 0 28px 0;
}

.secLogo{
    display: flex;
    align-items: center;
    gap: 50px;
}

.articleText{
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}